<section class="hero">
	<div class="container hero__container">
		<h2 class="hero__title">Ваши записи на прием</h2>
		<div class="hero__grid">
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
			<div class="hero__item">
				<div class="hero__header">
					<span class="hero__date">29.11.2023 15:00</span>
				</div>
				<div class="hero__body">
					<span class="hero__fio">Орлова Светлана Викторовна</span>
					<span class="hero__age">Возраст: 44 года</span>
					<span class="hero__phone">Телефон: +79080623076</span>
					<span class="hero__service">Услуга: Лазерное омоложение</span>
				</div>
			</div>
		</div>
	</div>
</section>
